@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

.main-header {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.main-header .brand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.main-header form {
    display: flex;
}

.search {
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
    font-family: inherit;
    font-size: 0.9rem;
    width: 23rem;
    height: 2rem;
    padding: 0.5rem;
    outline: none;
}

.searchBtn {
    width: 6rem;
    border: none;
    background-color: rgb(248, 155, 48);
    color: #fff;
    font-family: inherit;
    font-size: 0.9rem;
    cursor: pointer;
}

main {
    width: 93%;
    margin: 0 auto;
    padding-bottom: 4rem;
}

.games h2 {
    color: rgb(248, 155, 48);
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.games > div {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.game-card {
    width: 25rem;
    height: 23rem;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.1);
    /* animation: cards 0.3s linear; */
}

.game-card h4 {
    padding: 1rem 0 1.5rem;
}

.game-card p {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.game-card img {
    width: 100%;
    height: 18rem;
    object-fit: center;
}

.game-card .placeholder {
    background-color: hsl(200,20%, 90%);
    height: 100%;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes cards {
    0% {
        transform: scale(0.8);
    }
    25% {
        transform: scale(0.85);
    }
    50% {
        transform: scale(0.9);
    }
    75% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes skeleton-loading {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 0.8;
    }
}

